<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/head :: head"></div>
</head>
<body>
<header>
    <div th:replace="fragments/header :: header"></div>
</header>

<div class="container-fluid col-xm-12">
    <div th:replace="fragments/filter-sidebar :: filter-sidebar"></div>
    <div class="col-xs-9 col-sm-9 col-md-10 main-body">
        <div th:replace="fragments/top-menubar :: top-menubar"></div>
        <div class="bubble col-xs-12" id="workOrderContent">
            <h2>Configuration</h2>
        </div>
        <div class="col-xs-12 col-sm-7 container">
            <h3>Add New Configuration</h3>
            <form class="form-horizontal" th:object="${configuration}" th:action="@{/configuration}" method="post">
                <input type="hidden" th:field="*{id}"/>
                <div class="form-group">
                    <div class="error" th:if="${#fields.hasErrors('configKei')}" th:errors="*{configKei}"></div>
                    <div class="col-xs-6">
                        <input type="text" class="form-control" th:field="*{configKei}" placeholder="Key"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="error" th:if="${#fields.hasErrors('configVal')}" th:errors="*{configVal}"></div>
                    <div class="col-xs-6">
                        <input type="text" class="form-control" th:field="*{configVal}" placeholder="Value"/>
                    </div>
                </div>
                <div class="col-xs-8 col-sm-5 btnFormBottom">
                    <button type="submit" class="btn btn-info col-xs-5 has-spinner">
                        <span class="spinner">
                        <i class="icon-spin icon-refresh"></i>
                        </span>Save
                    </button>
                    <button class="btn btn-default col-xs-5 float-right configurationsCancel" type="button">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>
