<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/head :: head"></div>

<body>
<header>
	<div th:replace="fragments/header :: header"></div>
</header>

<div class="container-fluid col-xm-12">
	<div th:replace="fragments/filter-sidebar :: filter-sidebar"></div>
	<div class="main-body">
		<div th:replace="fragments/top-menubar :: top-menubar"></div>
		<div class="bubble col-xs-12" id="workOrderContent">
			<h2><img th:src="@{/images/menu-icons/notification.png}" alt="Set Payment"/>General Account Settings</h2>
		</div>
		<div class="main-content">
			<div class="col-xs-12 container">
				<div class="col-xs-12" class="generalOptions settings-bordered">
					<div id="updateEmail">
						<label class="col-xs-12 col-sm-5 col-md-3">
							<img class="padding-right" th:src="@{/images/email.png}" alt="Change Address"/>Change Email Address</label>
						<label class="col-xs-12 col-sm-7 col-md-3">TonyC@yahoo.com</label>
					</div>
					<div id="updatePassword">
						<label class="col-xs-12 col-sm-5 col-md-3">
							<img class="padding-right" th:src="@{/images/lock.png}" alt="Change Password"/>Change Password
						</label>
						<label class="col-xs-12 col-sm-7 col-md-3" name="currentPassword" type="text">*******</label>
					</div>
				</div>
				<div class="col-xs-12 col-sm-7">
					<form class="form-horizontal" method="post" action="" id="changeEmailAddress">
						<div class="form-group">
							<label class="col-xs-12 col-md-5">Current Email Address</label>
							<label class="col-xs-12 col-md-7">TonyC@yahoo.com</label>
						</div>
						<div class="form-group">
							<label class="col-xs-12 col-md-5">
								<img class="padding-right" th:src="@{/images/email.png}" alt="New Email"/>Enter New Email Address
							</label>
							<div class="col-xs-12 col-md-7">
								<input class="form-control" id="newEmail" name="newEmail" type="text">
							</div>
						</div>
						<div class="form-group">
							<div class="col-xs-12">
								<button class="btn btn-sm btn-dark col-xs-5 has-spinner" type="submit">
								<span class="spinner">
									<i class="icon-spin icon-refresh"></i>
									</span>Save
								</button>
								<button class="btn btn-sm btn-dark col-xs-5 float-right cancel" type="button">Cancel</button>
							</div>
						</div>
					</form>
					<form class="form-horizontal" method="post" action="" id="changePswd">
					<div class="form-group">
						<label class="col-xs-12 col-md-5">Current Password</label>
						<label class="col-xs-12 col-md-7">*******</label>
					</div>
					<div class="form-group">
						<label class="col-xs-12 col-md-5">
							<img class="padding-right" th:src="@{/images/lock.png}" alt="New Email"/>Enter Current Password
						</label>
						<div class="col-xs-12 col-md-7">
							<input class="form-control" id="currentPswd" name="currentPswd" type="text">
						</div>
					</div>
					<div class="form-group">
						<label class="col-xs-12 col-md-5">
							<img class="padding-right" th:src="@{/images/lock.png}" alt="New Email"/>Enter New Password
						</label>
						<div class="col-xs-12 col-md-7">
							<input class="form-control" id="newPswd" name="newPswd" type="text">
						</div>
					</div>
					<div class="form-group">
						<label class="col-xs-12 col-md-5">
							<img class="padding-right" th:src="@{/images/lock.png}" alt="New Email"/>Confirm New Password
						</label>
						<div class="col-xs-12 col-md-7">
							<input class="form-control" id="confirmNewPswd" name="confirmNewPswd" type="text">
						</div>
					</div>
					<div class="form-group">
						<div class="col-xs-12">
							<button class="btn btn-sm btn-dark col-xs-5 has-spinner" type="submit">
							<span class="spinner">
								<i class="icon-spin icon-refresh"></i>
								</span>Save
							</button>
							<button class="btn btn-sm btn-dark col-xs-5 float-right cancel" type="button">Cancel</button>
						</div>
					</div>
				</form>
				</div>
			</div>
		</div>
	</div>
</div>

</body>
</html>
