<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/head :: head"></div>

<body class="background-grey">
<header>
	<div th:replace="fragments/header :: header"></div>
</header>

<div class="container-fluid col-xm-12">
	<div th:replace="fragments/filter-sidebar :: filter-sidebar"></div>
	<div class="main-body">
		<div th:replace="fragments/top-menubar :: top-menubar"></div>
		<div class="bubble col-xs-12" id="workOrderContent">
			<h2>Review Quotes</h2>
		</div>
		<div class="main-content">
			<div class="col-xs-12" id="reviewquotes">
				<div class="quote-container" role="form">
				<div class="col-xs-12 quote-bubble remove-arrow">
					<div class="col-xs-7">
						<div class="avatar quote-avatar float-left">
							<img alt="" src="http://lorempixel.com/100/100/people/9/">
						</div>
						<span class="font-bold font-14">Job #000003</span>
					</div>
					<div class="col-xs-5 text-right quote-options">
						<img th:src="@{/images/sendMSG.png}" height="17" width="20"></img>
						<img th:src="@{/images/printer.png}" height="17" width="18"></img>
					</div>
				</div>
				<div class="col-xs-12">
					<p class="text-muted float-right"><strong>16 Ocean Ave</strong></p>
				</div>
				<div class="col-xs-12 no-padding">
					<div class="col-xs-6 text-center">
						<span class="text-muted">Ryan Cheese</span>
						<p>Shocking San Diego</p>
						<p>Lic#:487678</p>
					</div>
					<div class="col-xs-6 text-right">
						<p>Electrical</p>
						<p class="no-margin">Assigned <span class="user-name">Michelle</span></p>
					</div>
				</div>
				<div id="demo2" class="collapse col-xs-12">
					<table class="table" data-sorting="true">
						<thead>
						<tr>
							<th>#</th>
							<th>Type</th>
							<th>Item</th>
							<th>Amount</th>
							<th>Qty</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td>1</td>
							<td>Leak</td>
							<td>Labor</td>
							<td>$15.00</td>
							<td>1</td>
						</tr>
						<tr>
							<td>2</td>
							<td>Pipe</td>
							<td>Materials</td>
							<td>$30.00</td>
							<td>4</td>
						</tr>
						<tr>
							<td>3</td>
							<td>Bolts</td>
							<td>Sealant</td>
							<td>$8.50</td>
							<td>1</td>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td>Tax on Materials</td>
							<td>$4.80</td>
							<td></td>
						</tr>
						</tbody>
					</table>
				</div>
				<a href="#" data-toggle="collapse" data-target="#demo2">
					<div class="col-xs-12" style="background-color:#4E5762;">
						<div><img class="float-left expand-icon" th:src="@{/images/expand.png}" alt="expand content" height="13" width="15"/>                                            </div>
						<p class="col-xs-5">Collapse</p>
						<p class="col-xs-3">Total</p>
						<p class="col-xs-2">Cost</p>
					</div>
				</a>
				<div class="col-sm-5 vendor-rating">
					<div class="float-left">
						<span>30 days</span>
						<p>Warranty</p>
					</div>
					<div class="float-right">
						<span>4.6/5</span>
						<p>Rating</p>
					</div>
				</div>
				<div class="col-sm-7">
					<button class="btn btn-info col-xs-5 has-spinner" type="submit">
										<span class="spinner">
											<i class="icon-spin icon-refresh"></i>
										</span>Accept
					</button>
					<button class="btn btn-danger col-xs-5 float-right" type="button">Decline</button>
				</div>
			</div>
				<div class="quote-container" role="form">
					<div class="col-xs-12 quote-bubble remove-arrow">
						<div class="col-xs-7">
							<div class="avatar quote-avatar float-left">
								<img alt="" src="http://lorempixel.com/100/100/people/9/">
							</div>
							<span class="font-bold font-14">Job #000003</span>
						</div>
						<div class="col-xs-5 text-right quote-options">
							<img th:src="@{/images/sendMSG.png}" height="17" width="20"></img>
							<img th:src="@{/images/printer.png}" height="17" width="18"></img>
						</div>
					</div>
					<div class="col-xs-12">
						<p class="text-muted float-right"><strong>16 Ocean Ave</strong></p>
					</div>
					<div class="col-xs-12 no-padding">
						<div class="col-xs-6 text-center">
							<span class="text-muted">Ryan Cheese</span>
							<p>Shocking San Diego</p>
							<p>Lic#:487678</p>
						</div>
						<div class="col-xs-6 text-right">
							<p>Electrical</p>
							<p class="no-margin">Assigned <span class="user-name">Michelle</span></p>
						</div>
					</div>
					<div id="demo" class="collapse col-xs-12">
						<table class="table" data-sorting="true">
							<thead>
							<tr>
								<th>#</th>
								<th>Type</th>
								<th>Item</th>
								<th>Amount</th>
								<th>Qty</th>
							</tr>
							</thead>
							<tbody>
							<tr>
								<td>1</td>
								<td>Leak</td>
								<td>Labor</td>
								<td>$15.00</td>
								<td>1</td>
							</tr>
							<tr>
								<td>2</td>
								<td>Pipe</td>
								<td>Materials</td>
								<td>$30.00</td>
								<td>4</td>
							</tr>
							<tr>
								<td>3</td>
								<td>Bolts</td>
								<td>Sealant</td>
								<td>$8.50</td>
								<td>1</td>
							</tr>
							<tr>
								<td></td>
								<td></td>
								<td>Tax on Materials</td>
								<td>$4.80</td>
								<td></td>
							</tr>
							</tbody>
						</table>
					</div>
					<a href="#" data-toggle="collapse" data-target="#demo">
						<div class="col-xs-12" style="background-color:#4E5762;">
							<div><img class="float-left expand-icon" th:src="@{/images/expand.png}" alt="expand content" height="13" width="15"/>                                            </div>
							<p class="col-xs-5">Collapse</p>
							<p class="col-xs-3">Total</p>
							<p class="col-xs-2">Cost</p>
						</div>
					</a>
					<div class="col-sm-5 vendor-rating">
						<div class="float-left">
							<span>30 days</span>
							<p>Warranty</p>
						</div>
						<div class="float-right">
							<span>4.6/5</span>
							<p>Rating</p>
						</div>
					</div>
					<div class="col-sm-7">
						<button class="btn btn-info col-xs-5 has-spinner" type="submit">
										<span class="spinner">
											<i class="icon-spin icon-refresh"></i>
										</span>Accept
						</button>
						<button class="btn btn-danger col-xs-5 float-right" type="button">Decline</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>
