<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/head :: head"></div>

<body>
<div th:replace="fragments/header :: header"></div>

<div class="container-fluid col-xm-12">
    <div th:replace="fragments/filter-sidebar :: filter-sidebar"></div>
    <div class="main-body">
        <div th:replace="fragments/top-menubar :: top-menubar"></div>
        <div class="bubble col-xs-12" id="workOrderContent">
            <h2><img th:src="@{/images/menu-icons/currency.png}" alt="Set Payment"/>Setup Payments</h2>
        </div>
        <div class="col-xs-12 col-md-7 container">
            <div id="stripeContent">
                <br>
                <h4>Please complete your account and billing information to make sure you get paid for your work.</h4>
                <p>We use a trusted and secure payment processor called Stripe. Stripe enables us to seamlessly process payments
                    from customers and to pass them on to you within our workflow. Sensitive financial data will remain on Stripe’s
                    secure network at all times.</p>
                <p>Once you’ve set up your financial information, you will be automatically redirected back to complete registration.</p>
                <br>
                <br>
                <div class="text-center">
                    <button class="btn btn-lg btn-info" id="connectStripeAccount" style="width: 259px;">Connect with Stripe</button>
                </div>
            </div>
            <div class="box-border col-xs-12 col-md-5 stripeAccount">
                <div class="col-xs-12 stripeAccount">
                    <h3 style="margin-top: 0px;">Company Profile</h3>
                    <span>Courtesy Plumbing, Inc. <div style="color: #ffb900;">(imported from stripe)</div></span>
                    <p>453 Miramar Way, Suite 3B</p>
                    <p>Phone (858) 655-7826</p>
                    <p>EIN: 76489849</p>
                    <br>
                    <span>Plumbing</span>
                    <p>License #:  870456</p>
                    <p>Expiration: 12/31/2019 </p>
                </div>
                <br>
                <br>
            </div>
            <div class="col-xs-12 no-padding">
                <button class="btn btn-lg btn-info stripeAccount" style="width: 259px;">Connect with Stripe</button>
            </div>
        </div>
    </div>
</div>
           <!--
        <table>
            <tr>
                <td>
                    <form action="" method="post" id="payment-form-cc">
                        <div class="form-row" style="width:500px">
                            <label for="card-element">
                                Add Credit Card Payment Option
                            </label>
                            <div>
                                &nbsp;
                                Account Name:
                                <input type="text" name="source_name" id="source_name_cc" style="position:relative"/>
                            </div>
                            <div id="card-element" width="100%">
                                <!-- a Stripe Element will be inserted here. --
                            </div>
                            <!-- Used to display form errors
                            <div id="card-errors" role="alert"></div>

                        </div>

                        <button>Add Credit Card</button>
                    </form>
                </td>
                <td>
                    <form action="" method="post" id="payment-form-bank">
                        <div class="form-row" style="width:500px">
                            <label for="bank-element">
                                Add Bank Account Payment Option
                            </label>
                            <div>
                                &nbsp;
                                Account Name:
                                <input type="text" name="source_name" id="source_name_bank" style="position:relative"/>
                            </div>
                            <div id="bank-element" width="100%">
                            </div>
                            <div id="bank-errors1" role="alert"></div>
                            <div id="bank-manual" width="100%">
                                <div>
                                    <label for="bank-element">
                                        Account Holder Name
                                    </label>
                                    <input type="text" name="account_holder_name" id="account_holder_name" style="position:relative"/>
                                </div>
                                <div>
                                    <label for="bank-element">
                                        Account Number
                                    </label>
                                    <input type="text" name="account_number" id="account_number" style="position:relative"/>
                                </div>
                                <div>
                                    <label for="bank-element">
                                        Routing Number
                                    </label>
                                    <input type="text" name="routing_number" id="routing_number" style="position:relative"/>
                                </div>
                                <div>
                                    <label for="bank-element">
                                        Account Type
                                    </label>
                                    <input type="text" name="account_holder_type" id="account_holder_type" style="position:relative"/>
                                </div>
                            </div>

                            <!-- Used to display form errors
                            <div id="bank-errors" role="alert"></div>

                        </div>

                        <button>Add Payment Method</button>
                    </form>
                </td>
            <tr>
            <tr>
                <td colspan='2'>
                    <table id="jobPosting" class="vendor-table">
                        <thead>
                        <tr>
                            <td>Customer Id</td>
                            <td>Source</td>
                        </tr>
                        </thead>
                       <!-- <tbody th:if="${not #lists.isEmpty(paymentSources)}">
                        <tr th:each="customer : ${paymentSources}">
                            <td class="valign-middle" data-label="Customer Id" th:text="${customer.name}">Description</td>
                            <td class="valign-middle" data-label="Source" th:text="${customer.source}">Zip Code / Area</td>
                        </tr>
                        </tbody>
                        <tbody>
                        <tr>
                            <td class="valign-middle" data-label="Customer Id" >Description</td>
                            <td class="valign-middle" data-label="Source">Zip Code / Area</td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        -->
</body>
<script>

 // Create a Stripe client
    var stripe = Stripe('pk_test_D0LC7Jq8pcsXjeAgMJ8YUl3r');

    // Create an instance of Elements
    var elements = stripe.elements();

    // Custom styling can be passed to options when creating an Element.
    // (Note that this demo uses a wider set of styles than the guide below.)
    var style = {
      base: {
        color: '#32325d',
        lineHeight: '24px',
        fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
        fontSmoothing: 'antialiased',
        fontSize: '16px',
        '::placeholder': {
          color: '#aab7c4'
        }
      },
      invalid: {
        color: '#fa755a',
        iconColor: '#fa755a'
      }
    };

/*     // Create an instance of the card Element
    var bank = elements.create('bank_account', {style: style});

    // Add an instance of the card Element into the `card-element` <div>
    card.mount('#bank-element');

    // Handle real-time validation errors from the card Element.
    card.addEventListener('change', function(event) {
      var displayError = document.getElementById('bank-errors');
      if (event.error) {
        displayError.textContent = event.error.message;
      } else {
        displayError.textContent = '';
      }
    });
 */    // Create an instance of the card Element
    var card = elements.create('card', {style: style});

    // Add an instance of the card Element into the `card-element` <div>
    card.mount('#card-element');

    // Handle real-time validation errors from the card Element.
    card.addEventListener('change', function(event) {
      var displayError = document.getElementById('card-errors');
      if (event.error) {
        displayError.textContent = event.error.message;
      } else {
        displayError.textContent = '';
      }
    });
	var acct = elements.create('bank_account', {style: style});
	acct.mount('#bank-element');
	acct.addEventListener('change',
			function(event) {
				var displayError = document.getElementById('bank-errors');
				if(event.error) {
					displayError.textContent = event.error.message;
				} else {
					displayError.textContent = '';
				}
			});
    // Handle bank form submission
    var form = document.getElementById('payment-form-bank');
    form.addEventListener('submit', function(event) {
      event.preventDefault();

      stripe.createToken('bank_account', {
	    	  country: 'US',
	    	  currency: 'usd',
	    	  routing_number: document.getElementById("routing_number").value,
	    	  account_number: document.getElementById("account_number").value,
	    	  account_holder_name: document.getElementById("account_holder_name").value,
	    	  account_holder_type: document.getElementById("account_holder_type").value,
	    	}).then(function(result) {
          if (result.error) {
              // Inform the user if there was an error
              var errorElement = document.getElementById('card-errors');
              errorElement.textContent = result.error.message;
            } else {
              // Send the token to your server
              stripeTokenHandler(result.token, 'payment-form-bank');
            }
	    	});
    });
    // Handle form submission
    var form = document.getElementById('payment-form-cc');
    form.addEventListener('submit', function(event) {
      event.preventDefault();

      stripe.createToken(card).then(function(result) {
        if (result.error) {
          // Inform the user if there was an error
          var errorElement = document.getElementById('card-errors');
          errorElement.textContent = result.error.message;
        } else {
          // Send the token to your server
          stripeTokenHandler(result.token, 'payment-form-cc');
        }
      });
    });
    function stripeTokenHandler(token, formName) {
    	  // Insert the token ID into the form so it gets submitted to the server
    	  var form = document.getElementById(formName);
    	  var hiddenInput = document.createElement('input');
    	  hiddenInput.setAttribute('type', 'hidden');
    	  hiddenInput.setAttribute('name', 'stripeToken');
    	  hiddenInput.setAttribute('value', token.id);
    	  form.appendChild(hiddenInput);
    	  hiddenInput = document.createElement('input');
    	  hiddenInput.setAttribute('type', 'hidden');
    	  hiddenInput.setAttribute('name', 'source_type');
    	  hiddenInput.setAttribute('value', token.type);
    	  form.appendChild(hiddenInput);

    	  // Submit the form
    	  form.submit();
    	}
    </script>
</html>
