<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/head :: head"></div>

<body>
<header>
	<div th:replace="fragments/header :: header"></div>
</header>

<div class="container-fluid col-xm-12">
	<div th:replace="fragments/filter-sidebar :: filter-sidebar"></div>
	<div class="main-body">
		<div th:replace="fragments/top-menubar :: top-menubar"></div>
		<div class="bubble col-xs-12" id="workOrderContent">
			<h2><img th:src="@{/images/menu-icons/toolbox.png}" alt="Toolbox" width="34"/>Company Information</h2>
		</div>
		<div class="main-content">
			<div class="col-xs-12 col-sm-7 container">
				<form class="form-horizontal" method="post" action="">
					<div class="form-group">
						<label class="col-xs-12 col-md-5">Company Name</label>
						<div class="col-xs-12 col-md-7">
							<input class="form-control" name="Company Name" type="text">
						</div>
						<label class="col-xs-12 col-md-5">Company Street Address</label>
						<div class="col-xs-12 col-md-7">
							<input class="form-control" name="Company Street Address" type="text">
						</div>
						<label class="col-xs-12 col-md-5">City</label>
						<div class="col-xs-12 col-md-7">
							<input class="form-control" name="City" type="text">
						</div>
						<label class="col-xs-12 col-md-5">State</label>
						<div class="col-xs-12 col-md-7">
							<input class="form-control" name="State" type="text">
						</div>
						<label class="col-xs-12 col-md-5">Zip</label>
						<div class="col-xs-12 col-md-7">
							<input class="form-control" name="Zip" type="text">
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">
							<a href="/notifications/new">
							<!--<a href="/address/new">-->
								<button class="ui-button ui-widget ui-corner-all has-spinner">
									<span class="spinner">
										<i class="icon-spin icon-refresh"></i>
									</span> Add New Property
									<span class="glyphicon glyphicon-plus-sign"></span>
								</button>
							</a>
						</div>
					</div>
					<div class="form-group">
						<div class="col-xs-12">
							<button class="btn btn-sm btn-dark col-xs-5 has-spinner" type="submit">
							<span class="spinner">
								<i class="icon-spin icon-refresh"></i>
								</span>Save
							</button>
							<button class="btn btn-sm btn-dark col-xs-5 float-right companyInfoCancel" type="button">Cancel</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

</body>
</html>
