<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/head :: head" >  </div>

<body>
<div th:replace="fragments/header :: header" >  </div>

<div class="container-fluid col-xm-12">
    <div th:replace="fragments/filter-sidebar :: filter-sidebar" >  </div>
    <div class="main-body">
        <div th:replace="fragments/top-menubar :: top-menubar" >  </div>
        <div class="bubble col-xs-12" id="workOrderContent">
            <h2>Manage Team</h2>
        </div>
        <div class="col-xs-12 container">
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Mobile Phone</th>
                        <th>Email Address</th>
                        <th>Role</th>
                        <th>Send Notification</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="contact : ${contacts}">
                        <td class="valign-middle" data-label="Id" th:text="${contact.id}"><a href="/contacts/${contact.id}">Id</a></td>
                        <td class="valign-middle" data-label="First Name" th:text="${contact.firstName}">First Name</td>
                        <td class="valign-middle" data-label="Last Name" th:text="${contact.lastName}">Last Name</td>
                        <td class="valign-middle" data-label="Phone" th:text="${contact.phone}">Phone</td>
                        <td class="valign-middle" data-label="Email" th:text="${contact.email}">Email</td>
                        <td class="valign-middle" data-label="Role">Admin</td>
                        <td class="valign-middle" data-label="Send Notification">
                            <select class="notification-status ">
                                <option value="SMS">Via SMS</option>
                                <option value="Email">Via Email</option>
                                <option value="Both">Via Both</option>
                                <option value="Receipts Only">Email Only Receipts</option>
                            </select>
                        </td>
                        <td class="valign-middle"><a th:href="${'/contact/edit/' + contact.id}">Edit</a></td>
                        <td class="valign-middle"><a th:href="${'/contact/delete/' + contact.id}"><i class="fa fa-times-circle" aria-hidden="true"></i></a></td>
                    </tr>
                </tbody>
            </table>
            <div class="row">
                <div class="form-group col-md-1">
                    <select class="form-control pagination" id="contactPageSizeSelect">
                        <option th:each="pageSize : ${pageSizes}" th:text="${pageSize}" th:value="${pageSize}"
                                th:selected="${pageSize} == ${selectedPageSize}"></option>
                    </select>
                </div>
                <div th:if="${contacts.totalPages != 1}" class="form-group col-md-11 pagination-centered">
                    <ul class="pagination">
                        <li th:class="${contacts.number == 0} ? disabled">
                            <a class="pageLink"
                               th:href="@{/contacts/(pageSize=${selectedPageSize}, page=1)}">&laquo;</a>
                        </li>
                        <li th:class="${contacts.number == 0} ? disabled">
                            <a class="pageLink"
                               th:href="@{/contacts/(pageSize=${selectedPageSize}, page=${contacts.number})}">&larr;</a>
                        </li>
                        <li th:class="${contacts.number == (page - 1)} ? 'active pointer-disabled'"
                            th:each="page : ${#numbers.sequence(pager.startPage, pager.endPage)}">
                            <a class="pageLink" th:href="@{/contacts/(pageSize=${selectedPageSize}, page=${page})}"
                               th:text="${page}"></a>
                        </li>
                        <li th:class="${contacts.number + 1 == contacts.totalPages} ? disabled">
                            <a class="pageLink"
                               th:href="@{/contacts/(pageSize=${selectedPageSize}, page=${contacts.number + 2})}">&rarr;</a>
                        </li>
                        <li th:class="${contacts.number + 1 == contacts.totalPages} ? disabled">
                            <a class="pageLink"
                               th:href="@{/contacts/(pageSize=${selectedPageSize}, page=${contacts.totalPages})}">&raquo;</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-5 col-md-6">
                    <a href="/contact/new">
                        <button class="ui-button ui-widget ui-corner-all has-spinner">
                            <span class="spinner">
                            <i class="icon-spin icon-refresh"></i>
                        </span>Add New Member
                            <span class="glyphicon glyphicon-plus-sign"></span>
                        </button>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-6 float-right">
                    <button class="btn btn-warning col-xs-6" type="button">Apply Changes</button>
                    <button class="btn btn-default col-xs-6 contactsCancel" type="button">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
