<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/head :: head" >  </div>

<body>
<div th:replace="fragments/header :: header" >  </div>

<div class="container-fluid col-xm-12">
    <div th:replace="fragments/filter-sidebar :: filter-sidebar" >  </div>
    <div class="main-body">
        <div th:replace="fragments/top-menubar :: top-menubar" >  </div>
        <div class="bubble col-xs-12" id="workOrderContent">
            <h2>Job Request</h2>
        </div>
        <div class="col-xs-12 container">
            <table class="table table-responsive" data-sorting="true">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Contact</th>
                        <th>Category</th>
                        <th>Address</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="jobsubmission : ${jobsubmissions}">
                    <td class="valign-middle" data-label="Id" th:text="${jobsubmission.id}"><a href="/jobsubmissions/${jobsubmission.id}">Id</a></td>
                    <td class="valign-middle" data-label="Contact" th:text="${jobsubmission.contact.firstName}">Contact</td>
                    <td class="valign-middle" data-label="Category" th:text="${jobsubmission.category.name}">Category</td>
                    <td class="valign-middle" data-label="Address" th:text="${jobsubmission.address.streetAddress}">Address</td>
                    <td class="valign-middle" data-label="Description" th:text="${jobsubmission.description}">Description</td>

                    <td><a th:href="${'/jobsubmission/' + jobsubmission.id}">View</a></td>
                    <td><a th:href="${'/jobsubmission/delete/' + jobsubmission.id}">Cancel/Delete</a></td>
                </tr>
                </tbody>
            </table>
            <div class="row">
                <div class="form-group col-md-1">
                    <select class="form-control pagination" id="jobSubmissionPageSizeSelect">
                        <option th:each="pageSize : ${pageSizes}" th:text="${pageSize}" th:value="${pageSize}" th:selected="${pageSize} == ${selectedPageSize}"></option>
                    </select>
                </div>
                <div th:if="${jobsubmissions.totalPages != 1}" class="form-group col-md-11 pagination-centered">
                    <ul class="pagination">
                        <li th:class="${jobsubmissions.number == 0} ? disabled">
                            <a class="pageLink" th:href="@{/jobsubmissions/(pageSize=${selectedPageSize}, page=1)}">&laquo;</a>
                        </li>
                        <li th:class="${jobsubmissions.number == 0} ? disabled">
                            <a class="pageLink" th:href="@{/jobsubmissions/(pageSize=${selectedPageSize}, page=${jobsubmissions.number})}">&larr;</a>
                        </li>
                        <li th:class="${jobsubmissions.number == (page - 1)} ? 'active pointer-disabled'"
                            th:each="page : ${#numbers.sequence(pager.startPage, pager.endPage)}">
                            <a class="pageLink" th:href="@{/jobsubmissions/(pageSize=${selectedPageSize}, page=${page})}" th:text="${page}"></a>
                        </li>
                        <li th:class="${jobsubmissions.number + 1 == jobsubmissions.totalPages} ? disabled">
                            <a class="pageLink" th:href="@{/jobsubmissions/(pageSize=${selectedPageSize}, page=${jobsubmissions.number + 2})}">&rarr;</a>
                        </li>
                        <li th:class="${jobsubmissions.number + 1 == jobsubmissions.totalPages} ? disabled">
                            <a class="pageLink" th:href="@{/jobsubmissions/(pageSize=${selectedPageSize}, page=${jobsubmissions.totalPages})}">&raquo;</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-12 row">
                <a href="/jobsubmission/new">
                    <button class="ui-button ui-widget ui-corner-all has-spinner">
                        <span class="spinner">
                        <i class="icon-spin icon-refresh"></i>
                    </span> Add Job Request
                        <span class="glyphicon glyphicon-plus-sign"></span>
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
