<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/head :: head"></div>

<body>
<header>
	<div th:replace="fragments/header :: header"></div>
</header>

<div class="container-fluid col-xm-12">
	<div th:replace="fragments/filter-sidebar :: filter-sidebar"></div>
	<div class="main-body">
		<div th:replace="fragments/top-menubar :: top-menubar"></div>
		<div class="bubble col-xs-12" id="workOrderContent">
			<h2><img th:src="@{/images/menu-icons/notification.png}" alt="Set Payment"/>Notification Settings</h2>
		</div>
		<div class="main-content">
			<div class="col-xs-12 col-sm-7 container">
				<form class="form-horizontal" method="post" action="">
					<h3 class="underline">Job Notifications</h3>
					<div class="form-group">
						<div class="col-xs-12 col-md-6">
							<select class="form-control blue-select" id="notificationPref">
								<option value="">Receive Via SMS</option>
								<option>Via Email</option>
								<option>Via SMS & Email</option>
							</select>
						</div>
						<div class="col-xs-12">
							<h3 class="underline" style="padding-top: 35px;">Receive New Job Requests</h3>
							<label class="switch">
								<input type="checkbox" checked>
								<span class="slider round"></span>
							</label>
						</div>
					</div>
					<div class="form-group">
						<div class="col-xs-12">
							<button class="btn btn-sm btn-dark col-xs-5 has-spinner" type="submit">
							<span class="spinner">
								<i class="icon-spin icon-refresh"></i>
								</span>Save
							</button>
							<button class="btn btn-sm btn-dark col-xs-5 float-right notificationsCancel" type="button">Cancel</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
</body>
</html>
