<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/head :: head"></div>

<body class="background-white">
<header>
    <div th:replace="fragments/header :: header"></div>
</header>

<div class="container-fluid col-xm-12">
    <div th:replace="fragments/filter-sidebar :: filter-sidebar"></div>
    <div class="main-body">
        <div th:replace="fragments/top-menubar :: top-menubar"></div>
        <div class="bubble orange-bubble col-xs-12" id="workOrderContent">
            <div class="col-xs-4 col-sm-6">
                <h2>Transactions</h2>
            </div>
            <div class="col-xs-8 col-sm-5 input-group" id="transHistDatePicker">
                <h2 class="col-xs-2 col-sm-1" style="">From:</h2>
                <div class="col-xs-2 col-sm-4">
                    <div class="inner-addon right-addon">
                        <img alt="calendar" src="/images/calendar_icon.png">
                        <input class="form-control" id="fromDate" name="date" placeholder="mm/dd/yyyy" type="text">
                    </div>
                </div>
                <h2 class="col-xs-1">To:</h2>
                <div class="col-xs-2 col-sm-4">
                    <div class="inner-addon right-addon">
                        <img alt="calendar" src="/images/calendar_icon.png">
                        <input class="form-control" id="toDate" name="date" placeholder="mm/dd/yyyy" type="text">
                    </div>
                </div>
                <button class=" btn btn-xs bg-dark" type="submit">Filter</button>
            </div>
        </div>
        <div class="main-content">
            <div class="col-xs-12" id="transHistory">
                <table class="table table-hover table-responsive">
                    <tr>
                        <th>Order</th>
                        <th>Customer Id</th>
                        <th>Vendor Id</th>
                        <th>Job Id</th>
                        <th>Deposit</th>
                        <th>Status</th>
                        <th>Labor Fee</th>
                        <th>Parts Fee</th>
                        <th>Sales Tax Rate</th>
                        <th>Tax Amount</th>
                        <th>Grand Total</th>
                        <th>Refund Amount</th>
                        <th>Transaction Time</th>
                        <th>Rating</th>
                    </tr>
                    <tr th:each="transaction : ${transactions}">
                        <td class="valign-middle" data-label="Id" th:text="${transaction.id}">Id</td>
                        <td class="valign-middle" data-label="Customer Id"
                            th:text="${transaction.customer != null} ? ${transaction.customer.id} : ''">Customer Id
                        </td>
                        <td class="valign-middle" data-label="Vendor Id"
                            th:text="${transaction.vendor != null} ? ${transaction.vendor.id} : ''">Vendor Id
                        </td>
                        <td class="valign-middle" data-label="Job Id"
                            th:text="${transaction.job != null} ? ${transaction.job.id} : ''">Job Id
                        </td>
                        <td class="valign-middle" data-label="Deposit" th:text="${transaction.deposit}">Deposit</td>
                        <td class="valign-middle" data-label="Status" th:text="${transaction.transactionStatus}">
                            Status
                        </td>
                        <td class="valign-middle" data-label="Labor Fee" th:text="${transaction.laborFee}">Labor Fee
                        </td>
                        <td class="valign-middle" data-label="Parts Fee" th:text="${transaction.partsFee}">Parts Fee
                        </td>
                        <td class="valign-middle" data-label="Sales Tax Rate" th:text="${transaction.salesTaxRate}">
                            Sales Tax Rate
                        </td>
                        <td class="valign-middle" data-label="Tax Amount" th:text="${transaction.taxAmount}">Tax
                            Amount
                        </td>
                        <td class="valign-middle" data-label="Grand Total" th:text="${transaction.grandTotal}">Grand
                            Total
                        </td>
                        <td class="valign-middle" data-label="Refund Amount" th:text="${transaction.refundAmount}">
                            Refund Amount
                        </td>
                        <td class="valign-middle" data-label="Transaction Time"
                            th:text="${transaction.transactionTime}">Transaction Time
                        </td>
                        <td class="valign-middle" data-label="Rating"></td>
                    </tr>
                </table>

                <table class="table table-responsive" id="transcationsRows">
                    <thead>
                        <tr>
                            <th>Order</th>
                            <th>Property</th>
                            <th>Service Type</th>
                            <th>Contractor</th>
                            <th>Status</th>
                            <th>Amount</th>
                            <th>Date/Time Completed</th>
                            <th>Rating</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="transaction : ${transactions}">
                            <td class="valign-middle"  data-label="Order">
                            <a href="#" data-toggle="dropdown" data-animation="scale-up" th:text="${transaction.id}"></a>
                            <div class="dropdown-menu quote-container" role="form" style="left: 5px; margin-bottom: 10px;">
                                <div class="col-xs-12 quote-bubble">
                                    <div class="col-xs-7">
                                        <div class="avatar quote-avatar float-left">
                                            <img alt="" src="http://lorempixel.com/100/100/people/9/">
                                        </div>
                                        <span class="font-bold">Job #000003</span>
                                    </div>
                                    <div class="col-xs-5 text-right quote-options">
                                        <img th:src="@{/images/sendMSG.png}" height="17" width="20"></img>
                                        <img th:src="@{/images/printer.png}" height="17" width="18"></img>
                                        <i class="fa fa-times-circle" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <p class="text-muted float-right"><strong>16 Ocean Ave</strong></p>
                                </div>
                                <div class="col-xs-12 no-padding">
                                    <div class="col-xs-6 text-center">
                                        <span class="text-muted">Ryan Cheese</span>
                                        <p>Shocking San Diego</p>
                                        <p>Lic#:487678</p>
                                    </div>
                                    <div class="col-xs-6 text-right font-12">
                                        <p>Electrical</p>
                                        <p class="no-margin">Assigned <span class="user-name">Michelle</span></p>
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <table class="table" data-sorting="true">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Item</th>
                                            <th>Type</th>
                                            <th>Amount</th>
                                            <th>Qty</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>Labor</td>
                                            <td>Leak</td>
                                            <td>$15.00</td>
                                            <td>1</td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>Pipe</td>
                                            <td>Materials</td>
                                            <td>$30.00</td>
                                            <td>4</td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>Bolts</td>
                                            <td>Sealant</td>
                                            <td>$8.50</td>
                                            <td>1</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td>Tax on Materials</td>
                                            <td>$4.80</td>
                                            <td></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-xs-12 font-12 bg-dark">
                                    <p class="col-xs-4">Rate/Review/Tip</p>
                                    <p class="col-xs-3">Total</p>
                                    <p class="col-xs-2">Cost</p>
                                </div>
                                <div class="col-sm-5 vendor-rating">
                                    <div class="float-left">
                                        <span>30 days</span>
                                        <p>Warranty</p>
                                    </div>
                                    <div class="float-right">
                                        <span>4.6/5</span>
                                        <p>Rating</p>
                                    </div>
                                </div>
                                <div class="col-sm-7">
                                    <div class="text-red font-16">Cancelled By Property Owner</div>
                                    <p class="float-left">Invoice #<div></div></p>
                                    <p class="float-right">Method: ACH</p>
                                </div>
                            </div>
                        </td>
                            <td class="valign-middle" data-label="Property">212 La Jolla Blvd. Unit 1</td>
                            <td class="valign-middle" data-label="Service Type">Plumbing</td>
                            <td class="valign-middle" data-label="Contractor">
                                <a data-toggle="dropdown" href="javascript:void(0)" title="Contractor's Full Name" data-animation="scale-up"><div>Tony Carmon</div></a>
                                <div class="dropdown-menu dropdown-menu-media bubble" id="vendorFullName" role="menu-item">
                                    <div class="dropdown-menu-header">
                                        <div class="col-xs-12 no-padding">
                                            <div class="card hovercard">
                                                <div class="avatar">
                                                    <img alt="" src="http://lorempixel.com/100/100/people/9/">
                                                </div>
                                                <div class="modal-vendor-info">
                                                    <div class="fav-user">
                                                        <i class="fa fa-heart-o" style="color: #D3D6D8;"></i>
                                                    </div>
                                                    <h4 class="no-margin">Script Eden</h4>
                                                    <p>Plumber</p>
                                                    <img src="/images/smartphone.png"><span style="color: black;"> (619) 235-0922</span>
                                                    <div class="contact-vendor">
                                                        <p>Courtesy Plumbing</p>
                                                        <img src="/images/phone.png" style="color: black;"><span> (619) 455-7649</span>
                                                    </div>
                                                    <p class="selected-user canceled">Canceled</p>
                                                    <div class="vendor-rating width-100">
                                                        <div class="float-left">
                                                            <span>30 days</span>
                                                            <p>Warranty</p>
                                                        </div>
                                                        <div class="float-right">
                                                            <span>4.6/5</span>
                                                            <p>Rating</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td class="valign-middle" data-label="Status">
                                <button class="btn btn-success btn-xs arrival-time" type="button">Completed</button>
                            </td>
                            <td class="valign-middle" data-label="Amount">$274.56</td>
                            <td class="valign-middle" data-label="Date/Time Completed"><p th:text="${transaction.transactionTime}" /></td>
                            <td class="valign-middle star-rating" data-label="Rating">
                                <div class="star" title='Very Poor' data-value='1'></div>
                                <div class="star" title='Poor' data-value='2'></div>
                                <div class="star" title='Fair' data-value='3'></div>
                                <div class="star" title='Good' data-value='4'></div>
                                <div class="star" title='Excellent' data-value='5'></div>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div class="row">
                    <div class="form-group col-md-1">
                        <select class="form-control pagination" id="transactionPageSizeSelect">
                            <option th:each="pageSize : ${pageSizes}" th:text="${pageSize}" th:value="${pageSize}"
                                    th:selected="${pageSize} == ${selectedPageSize}"></option>
                        </select>
                    </div>
                    <div th:if="${transactions.totalPages != 1}" class="form-group col-md-11 pagination-centered">
                        <ul class="pagination">
                            <li th:class="${transactions.number == 0} ? disabled">
                                <a class="pageLink"
                                   th:href="@{/transactions/(pageSize=${selectedPageSize}, page=1)}">&laquo;</a>
                            </li>
                            <li th:class="${transactions.number == 0} ? disabled">
                                <a class="pageLink"
                                   th:href="@{/transactions/(pageSize=${selectedPageSize}, page=${transactions.number})}">&larr;</a>
                            </li>
                            <li th:class="${transactions.number == (page - 1)} ? 'active pointer-disabled'"
                                th:each="page : ${#numbers.sequence(pager.startPage, pager.endPage)}">
                                <a class="pageLink"
                                   th:href="@{/transactions/(pageSize=${selectedPageSize}, page=${page})}"
                                   th:text="${page}"></a>
                            </li>
                            <li th:class="${transactions.number + 1 == transactions.totalPages} ? disabled">
                                <a class="pageLink"
                                   th:href="@{/transactions/(pageSize=${selectedPageSize}, page=${transactions.number + 2})}">&rarr;</a>
                            </li>
                            <li th:class="${transactions.number + 1 == transactions.totalPages} ? disabled">
                                <a class="pageLink"
                                   th:href="@{/transactions/(pageSize=${selectedPageSize}, page=${transactions.totalPages})}">&raquo;</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="cancelModal" role="dialog">
            <!-- Modal content-->
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="col-xs-12 col-sm-3 col-lg-2">
                        <div class="card hovercard">
                            <div class="avatar">
                                <img alt="" src="http://lorempixel.com/100/100/people/9/">
                            </div>
                            <div class="modal-vendor-info top-padding">
                                <div class="vendor-main top-padding">
                                    <h4>Script Eden</h4>
                                    <p>Plumber</p>
                                    <button type="button" class="btn btn-xs btn-success arrival-time">30 min</button>
                                    <p class="font-10" style="padding: 0px 20px 40px;">Usually arrives within 15 mins of ETA</p>
                                    <p class="selected-user cancelled">Cancelled</p>
                                    <div class="vendor-rating width-100">
                                        <div class="float-left">
                                            <span>30 days</span>
                                            <p>Warranty</p>
                                        </div>
                                        <div class="float-right">
                                            <span>4.6/5</span>
                                            <p>Rating</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-8 background-white" id="bookModalContent">
                        <form class="form-horizontal" method="post" id="ratingForm">
                            <div class="col-sm-12">
                                <h3 class="text-center" style="color:#65B8FF;">Rate & Review</h3>
                                <h4>111 Cardiff Lane, unit 3</h4>
                                <div>Job #: 0000004</div>
                                <p>Plumbing</p>
                                <label>Rate Overall Performance:</label>
                                <label>Feedback for FixQuicker (only visible to FixQuicker):</label>
                                <textarea rows="4" class="form-control" placeholder="Optional"></textarea>
                                <label>Feedback for Bill:</label>
                                <textarea rows="4" class="form-control" placeholder="Optional"></textarea>
                                <label>Leave Review (visible to everyone)</label>
                                <textarea rows="4" class="form-control" placeholder="Optional"></textarea>
                                <br>
                                <div class="text-center">
                                <h4 class="" style="color: #4CBD8B;">Leave a tip?</h4>
                                <button class="btn btn-lg btn-success" style="width: 137px; text-align: left;">$</button>
                                </div>
                            </div>
                        </form>
                        <div class="col-sm-12">
                            <button type="button" class="btn btn-info col-xs-5 float-left" data-dismiss="modal">
                                Confirm
                            </button>
                            <button type="button" class="btn btn-default col-xs-5 float-right" data-dismiss="modal">
                                Cancel
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
