body {
    padding-top: 40px;
    background-color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 12px;
}

form {
    padding-top: 12px;
}

h2 {
    margin: 4px 0px 0px 0px;
    color: white;
    font-weight: bold;
    font-size: 14px;
}

h3 {
    color: #56606d;
    font-weight: 600;
    font-size: 16px;
}

h4 {
    font-size: 14px;
    color: #4E5762;
    margin-top: 0px;
}

h5 {
    color: grey;
}

p {
    margin: 3px;
    color: #A0A0A0;
}

label {
    margin: 5px 0px 15px;
    font-weight: lighter;
    font-size: 14px;
    color: #4E5762;
}

table, .font-12 {
    font-size: 12px;
    font-weight: 500;
}

.font-16 {
    font-size: 16px;
}

.underline {
    border-bottom: 2px solid #9E9E9E;
}

table a {
    color: darkturquoise;
}

td, .text-grey {
    color: darkgray;
}

select {
    font-size: 14px;
    font-weight: lighter;
    color: #4E5762;
    letter-spacing: 0.5px;
    height: 32px;
    padding: 6px 12px;
    border: 1px solid #95989A;
    margin-right: 25px;
    border-radius: 4px;
    background-color: #E4EAEC !important;
}

.blue-select {
    background-color: #65B8FF !important;
    border: 1px solid #4E5762;
    color: white;
}

.btn-dark {
    background-color: #4E5762;
    border: 1px solid #BCBCBC;
    color: white;
}

.btn-dark:hover {
    background-color: #616d7c;
    color: white;
}

/*toggle slider*/
.switch {
    position: relative;
    display: inline-block;
    width: 47px;
    height: 26px;
}

.switch input {
    display:none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 24px;
    width: 24px;
    left: -3px;
    bottom: 1px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    box-shadow: 0 0 5px;
}

input:checked + .slider {
  background-color: #07D84F;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/*end of slider*/

/*fonts*/
.width-100 {
    width: 100%;
}

.bg-dark {
    background-color:#4E5762;
    font-weight: bold;
}

.font-10 {
    font-size: 10px;
}

.btn {
    margin: 5px;
}

.notification-status {
    width: 100px;
    padding: 0px 8px;
    height: 26px;
    border-radius: 10px;
}

button.form-control {
    border-radius: 4px !important;
}

.float-left {
    float: left;
}

.float-right {
    float:right;
}

.fixed {
    position:fixed;
}

.container, h2 {
    padding: 0px 27px 0px 30px;
}

/*workstatus popup*/
#vendorFullName  .modal-vendor-info {
    color:black;
}

#vendorFullName {
    position: absolute;
    left: auto;
    top: 0;
    margin-left: 12%;
    margin-top: -3%;
    height: auto;
}

#vendorFullName:before {
    left: -12px;
    top: 10px;
    height: 0px;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-right: 12px solid #61B5FD;
}

#bookModal.modal-dialog, .no-margin {
    margin:0 auto;
}

#bookModal .modal-content > div:first-child {
    padding: 0px;
}

.modal-content, div#filter-sidebar {
    margin: 0px;
    padding: 0px;
}

div#filter-sidebar ul {
    list-style: none;
    border-radius: 0px;
    padding-left: 30px;
}

div#filter-sidebar ul a {
    padding: 6px 0px 3px 7px;
    height: auto;
    border-radius: unset;
}

/*sidebar menubar change width size*/
.filter-sidebar-xs {
    width: 120px;
}

.filter-sidebar-xs .menubar-bottom {
    position: relative;
}

.filter-sidebar-xs img {
    height: 25px;
    width: 25px;
    display: block;
    margin: auto;
}

.filter-sidebar-xs .list-group-item .fa {
    width: 100%;
    color: white;
    font-size: 30px;
}

.filter-sidebar-lg {
    width: 205px;
}

.filter-sidebar-lg .sidebar-bottom {
    bottom: 13%;
    position: absolute;
}

.filter-sidebar-lg .list-group-item {
/*    height: 35px; jackie*/
    height: 30px;
    text-align: left;
    margin: 0px;
    padding-right: 0px;
}

.filter-sidebar-lg img, .filter-sidebar-lg .list-group-item .fa {
    height: 14px;
    width: auto;
    margin-right: 10px;
    float: left;
    color: white;
    font-size: 14px;
}

.sidebar-footer {
    bottom: 0;
    display: block;
    padding: 5px 0 1px;
    position: absolute;
    width: 100%;
    background: #2A3F54;
    z-index: 999;
}
/*side menu-bar*/

.list-group-item {
     border:none;
     background-color: #4E5762;
     color: white !important;
     /*margin: 0px -10px;*/
     text-align: center;
}

.list-group-item:first-child, .list-group-item:last-child {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

a.list-group-item:hover, .list-group-item.active, .list-group-item.active:hover, a.list-group-item:focus, .nav>li>a:hover {
         background-color: #616d7c;
         border-left: 5px solid #65B8FF;
 }

 .list-group-item:first-child:hover {
    border-left:none;
 }

 .menu_alerts {
        line-height: 14px;
        margin-top: 4px;
        float:right;
        font-size: 12px;
        border-radius: 10px;
        padding: 2px 12px;
        color: #444e5a;
 }

.sidebar {
    position: fixed;
    top: 65px;
    bottom: 0;
    left: 0;
    z-index: 980;
    /*z-index: 1000;*/
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #4E5762;
    padding-right: 0px;
}

#companyName {
    padding: 18px;
    background-color: white;
    color: black !important;
    height: 51px;
}

#customerPageSizeSelect, #vendorPageSizeSelect, #addressPageSizeSelect, #configPageSizeSelect, #contactPageSizeSelect,
#jobSubmissionPageSizeSelect, #transactionPageSizeSelect, #vendorReportPageSizeSelect {
    width: 65px;
}

button.ui-button.ui-widget.ui-corner-all.has-spinner {
    margin-bottom: 13px;
    background-color: darkgrey;
    border: none;
    border-radius: 4px;
    padding: 7px 12px;
    color: white;
}

button.ui-button.ui-widget.ui-corner-all.has-spinner:hover {
    background-color: #f7b955;
}

/*icons*/
i.fa {
    font-size: 20px;
    cursor:pointer;
    color: lightslategrey;
}

.fa-comment {
    color: #099b4b;
}

.fa-comment:hover, .valign-middle .glyphicon:hover {
    color: #D3D6D8;
}

.fa-disabled, .fa-disabled:hover {
    color: #D3D6D8 !important;
}

.dropdown-menu .fa, #menu-bar i.fa, text-white, .bg-dark p {
    color: white;
}

.glyphicon {
    font-size: large;
}

.valign-middle .glyphicon-plus-sign {
    color: #FFBA00;
}

button > .glyphicon-plus-sign {
    float: right;
    margin: -2px 0px;
    padding-left: 10px;
}


/*header*/
header {
    height: 65px;
    background-color: #616D7C;
    background-image: none;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1001;
}

#fq-header-text {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 30px;
    letter-spacing: .5px;
    font: bold;
    font-weight: 600;
}

#menu-bar {
    float: left;
    padding: 12px 20px 0px 5px;
}

#sign-out-btn {
    top: 25px;
}

#text-shell {
    padding: 10px 0 0 15px;
    height: 100%;
}
/*end of header*/


#outer-form {
    background-color: white;
    padding: 14px;
    border-radius: 4px;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

/*main container */

.container-fluid  {
    max-width: 100%;
    margin-top: 25px;
}

.bubble, .quote-bubble {
    padding: 6px;
    color:white;
    margin-top: -2px;
    background: #61b5fd;
    position: relative;
    border: 2px solid #61B5FD;
    margin-bottom: 10px;
    z-index: 2;
    height: 37px;
}

.quote-container {
    top: auto;
    right: 0;
    left: auto;
    width: 375px;
    padding: 0px;
    margin-top: 10px;
}

.quote-container .vendor-rating {
    padding-top: 4px;
    margin: 0px;
}

h2 img {
    filter: contrast(200%);
    padding-right: 15px;
}

.quote-container >  .quote-bubble {
    margin:0px;
}

.bubble .btn {
    margin: 0px;
}

.bubble {
    box-shadow: 0px 3px 8px #afafaf;
}

.table .bubble {
    box-shadow: none;
}

.bubble:after, .bubble:before, .quote-bubble:after, .quote-bubble:before {
    right: 100%;
	bottom: 100%;
    left: 16%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.remove-arrow:before, .remove-arrow:after {
    display:none;
}

/*review quote*/
#reviewquotes .quote-container {
    background-color: white;
    box-shadow: 1px 1px 18px 1px #888888;
    width: 100%;
    float: left;
    margin: 15px 0px;
}

.quote-bubble {
    padding: 6px 0px 6px 20px;
    background: #4CBD8B;
    border: 2px solid #4CBD8B;
    height: 37px;
}

.quote-bubble:before {
    left: 5%;
    border-bottom-color: #4CBD8B;
    border-width: 11px;
    margin-left: -13px;
}

.quote-options img {
    margin-top: -5px;
    margin-right: 4px;
}

.quote-avatar {
    margin-top: -25px;
    float: left;
}

/*position of bubble arrow*/
.bubble:before {
    border-bottom-color: #61B5FD;
    border-width: 11px;
    margin-left: -13px;
}

.jobRequestActive:before {
    left: 9%;
}

.vendorResponseActive:before {
    left: 28%;
}


.jobReqStatusActive:before {
    left: 42%;
}

.reviewQuotesActive:before {
    right: 43%;
    left: unset;
}

.transHistoryActive:before {
    right: 29% !important;
}

/*SMS Message bubble*/
#smsMessage {
    background: #4CBD8B;
    color: grey;
    border: 2px solid #4CBD8B;
    top: auto;
    width: 269px;
    position: absolute;
    margin-top: 10px;
    height: auto;
    right: 0px;
}

#smsMessage:before {
    border-bottom-color: #4CBD8B;
    left: unset;
    right: 10%;
}

#smsMessage > div > .btn-default:hover {
    color: #4CBD8B;
    font-weight: 500;
    background-color: white;
}

/*top navigation work-menu*/

/*sidebar*/
.work-menu-content {
    width: 100%;
    margin-bottom: 0px;
    display: inline-flex;
}

.work-menu-content, .pagination, #unitSelector {
    background-color: white !important;
}

.work_menu {
    background-color: white;
    display: table;
    list-style: none;
    max-height: 51px;
    font-weight: 500;
    z-index: 1;
    position: relative;
    text-align: center;
    padding: 8px 0px;
    margin-bottom: 2px;
}

.work_menu #activeJobContent {
    height: 51px;
}

.work_menu > li, .work_menu li a {
    display: table-cell;
    padding: 3px 0px;
    color: darkgrey;
}

.work_menu ul:first-child
 {
    text-align: center;
}

.work_menu > li > span, .dropdown-menu-footer {
    padding: 0px 5px;
}

.work_menu li > img, .activeJob img {
    opacity: 0.9;
    filter: alpha(opacity=40);
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.work_menu li.active, .work_menu li.active > img, .work_menu li:hover, .work_menu li:hover > img, work_menu li a:hover{
    color: black;
    opacity: unset;
    -webkit-filter: unset;
    filter: unset !important;
}

a.list-group-item.site-category {
    margin-top: 19px;
}

/*vendor reports*/
#propertyList {
    padding: 20px 5px 0px;
    background-color: white;
}

#vendorMenu, .quote-container .expand-icon {
    margin-top: 8px;
    padding: 0px;
}

.main-content, #property-title > .bubble {
    margin: 0px;
}

#property-title > .bubble:before, #tenant-header, #lblImageUpload, .hideContent {
    display:none;
}

/*vendor-profile*/
#vendor-profile {
    padding: 20px;
}

#vendor-profile .card {
    width: 100%;
    margin-bottom: 15px;
}

.fav-user {
    text-align: right;
    padding: 8px 16px 2px 0px
}

.fav-user > .fa, .activeJob {
    cursor: pointer;
    font-size: 13px;
}

.fav-user > .fa:active, .fav-user > .fa:hover, .fav-user > .icon-c, .fa-times-circle:hover, .text-red {
    color: red;
}

.fa-disabled {
    color: grey;
}

.vendor-info, .card.hovercard .bottom {
    margin-top: -22px;
    border-radius: 6px;
    box-shadow: 1px 1px 18px 1px #888888;
}

.vendor-info, .card.hovercard .info, .card.hovercard .bottom {
    background-color:white;
}

.card .card-heading {
    padding: 0 20px;
    margin: 0;
}

.card .card-heading.simple {
    font-size: 20px;
    font-weight: 300;
    color: #777;
    border-bottom: 1px solid #e5e5e5;
}

.card .card-heading.image img {
    display: inline-block;
    width: 46px;
    height: 46px;
    margin-right: 15px;
    vertical-align: top;
    border: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.card .card-heading.image .card-heading-header {
    display: inline-block;
    vertical-align: top;
}

.card .card-heading.image .card-heading-header h3 {
    margin: 0;
    font-size: 14px;
    line-height: 16px;
    color: #262626;
}

.card .card-heading.image .card-heading-header span {
    font-size: 12px;
    color: #999999;
}

.card .card-body {
    padding: 0 20px;
    margin-top: 20px;
}

.card .card-media {
    padding: 0 20px;
    margin: 0 -14px;
}

.card .card-media img {
    max-width: 100%;
    max-height: 100%;
}

.card .card-actions {
    min-height: 30px;
    padding: 0 20px 20px 20px;
    margin: 20px 0 0 0;
}

.card .card-comments {
    padding: 20px;
    margin: 0;
    background-color: #f8f8f8;
}

.card .card-comments .comments-collapse-toggle {
    padding: 0;
    margin: 0 20px 12px 20px;
}

.card .card-comments .comments-collapse-toggle a,
.card .card-comments .comments-collapse-toggle span {
    padding-right: 5px;
    overflow: hidden;
    font-size: 12px;
    color: #999;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card-comments {
    font-size: 13px;
    font-weight: bold;
}

.card.people {
    position: relative;
    display: inline-block;
    width: 170px;
    height: 300px;
    margin-left: 20px;
    overflow: hidden;
    vertical-align: top;
}

.card.people:first-child {
    margin-left: 0;
}

.card.people .card-top {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 170px;
    height: 150px;
    background-color: #ffffff;
}

.card.people .card-top.green {
    background-color: #53a93f;
}

.card.people .card-top.blue {
    background-color: #427fed;
}

.card.people .card-info {
    position: absolute;
    top: 150px;
    display: inline-block;
    width: 100%;
    height: 101px;
    overflow: hidden;
    background: #ffffff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card.people .card-info {
    display: block;
    margin: 8px 14px 0 14px;
    overflow: hidden;
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    color: #404040;
}

.card.people .card-info .desc {
    display: block;
    margin: 8px 14px 0 14px;
    overflow: hidden;
    font-size: 12px;
    line-height: 16px;
    color: #737373;
    text-overflow: ellipsis;
}

.card.people .card-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    padding: 10px 20px;
    line-height: 29px;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card.hovercard, #workStatusTable.fa {
    text-align: center;
}

.card.hovercard .cardheader {
    height: 135px;
}

.card.hovercard .avatar img, .avatar img {
    width: 69px;
    height: 69px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid transparent;
}

.card.hovercard .info {
    padding: 4px 8px 10px;
}

.card.hovercard .info{
    margin-bottom: 4px;
    margin-top: -50px;
    font-size: 24px;
    line-height: 1;
    color: #262626;
    vertical-align: middle;
}

.card.hovercard .info .desc {
    /*overflow: hidden;*/
    font-size: 12px;
    line-height: 20px;
    color: #737373;
    text-overflow: ellipsis;
}

.vendor-rating {
    display: inline-block;
    border-radius: 0px 0px 6px 6px;
    padding: 8px 10px;
    height: 52px;
    background: #EDF0F5;
    margin-bottom: -5px;
 }

 .vendor-rating > div > span {
    color: #4E5762;
    font-size: 14px;
 }


/*end Vendor reports*/

.estimated-Arrival {
    border-radius: 50%;
    width:32px;
    height:32px;
    line-height:18px;
}

.rate-number {
    margin-top: 4px;
    font-size: 19px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    padding: 2px 0px;
    width: 30px;
    text-align: center;
    height: 30px;
    color: #f9a11a;
}

.book-request {
    width: 120px;
    border: 2px solid #65B8FF;
    color: #65B8FF;
    margin-bottom: 16px;
}

#contract-agreement {
    color: #65B8FF;
    font-size: 12px;
    border-radius: 4px;
    border: 1px solid #65B8FF;
    height: 39px;
    margin-bottom: 16px;
}

#contract-agreement span {
    top: -10px;
    right: -16px;
    position: relative;
    padding: 11px;
    background-color: #65B8FF;
    border-radius: 0px 4px 4px 0px;
}

#contract-agreement img {
    width: 15px;
    height: 14px;
}

.modal-vendor-info {
    box-shadow: none;
    margin-top: -22px;
    border-radius: 6px;
    background-color: white;
}

.selected-user {
    background-color: #5bc0de;
    height: 25px;
    padding: 3px;
    margin: 0px;
    font-size: 14px;
    color: white;
}

.canceled {
    background-color: #FF5273;
}

#ratingForm label {
    margin: 10px 0px 0px;
}

#bookModal > .modal-dialog > .modal-content, #cancelModal > .modal-dialog > .modal-content {
    background-color: transparent;
    border: none;
    box-shadow: none;
}

.background-white {
    background-color: white;
    border-radius: 4px;
}

.background-grey {
    background-color: #F1F4F5;
}

/*
.modal-content h4,*/
.top-padding {
    padding-top: 15px;
}

.padding-right {
    margin: -5px 10px 0 0;
}

.modal-content h4:first-child {
    padding-top: 0px;
}

.contact-vendor {
    padding: 25px 0px;
}

.user-name {
    color: #ffb900;
    font-weight: 600;
    font-size: 14px;
    padding-left: 25px !important;
}

#vendorMenu {
    margin-top: 18px;
    padding: 0px;
}

/*active jobs*/
#activeJobContent {
    text-align: right;
    z-index: 3;
    padding-bottom: 0;
}

.activeJob-status {
    margin: 0px;
    font-size:12px;
}

ul#openItemDropdown {
    margin-top: 9px;
    padding-top: 0px;
    right: -16px;
}

#openItemDropdown .orange-bubble {
    width: 325px;
    margin-bottom: 15px;
}

#active-jobs > ul, .no-padding {
    padding: 0px !important;
}

#active-jobs > .dropdown-menu {
    top: 13%;
    float:right;
    display: block;
}

#active-jobs-content > .list-group-item {
    background-color: white;
    color: grey !important;
    margin: 0px -17px 0px 0px;
}

#active-jobs-content > .list-group-item:hover, #active-jobs-content > .list-group-item.active,
#active-jobs-content > .list-group-item.active:hover {
    filter: brightness(94%);
    border: 0;
}

#active-jobs-content .activeJobEta {
    margin: 0px;
    position: absolute;
}

.orange-bubble {
    margin-right: -1px;
    background-color: #FFBA00;
    border: 2px solid #FFBA00;
}

.orange-bubble h2 {
    padding-left: 14px;
}

.orange-bubble:before {
    border-bottom-color: #FFBA00;
    right: 0;
    left: unset;
}

#openItemDropdown .orange-bubble:before {
    right: 5%;
}

.media, .extra-padding {
    padding: 8px 0px;
}

.media img {
    margin-right: 4px;
    width: 40px;
    height: 40px;
}

.media-heading {
    color: dimgrey;
    font-weight: 600;
}

.scrollable-bar-handle {
    height: 196.5px; transform:
    translate3d(0px, 0px, 0px);
}

.jobCost {
    color: #4CBD8B;
    font-weight: 600;
}
/*end of active jobs*/



.boxCheck input {
    width: 20px;
    height: 20px;
}

#submitJob {
    border-radius: 0px;
    margin: 0px;
    padding: 11px;
    background-color: #61b5fd;
    border:0px;
}

#bookModalContent {
    padding: 15px 0px;
    margin: 20px 0px;
}

#bookModalContent h4, .font-bold {
    font-weight: bold;
}

#bookModalContent p, #stripeContent p {
    padding-bottom: 15px;
}

.arrival-time {
    width: 68px;
}

table .arrival-time, #active-jobs-content .media .activeJobEta {
    border-radius: 12px;
    width: 72px;
    height: 18px;
    padding: 0px;
}

.current-status {
    border-radius: 12px;
    width: 75px;
    height: 21px;
    padding: 0;
}

.main-body {
    left: 205px;
    right: 0;
    position: absolute;
    padding: 0px 0px 10px;
}

.main-body-xs {
    left: 120px;
}

.main-body-lg {
    left: 205px;
}

 /*Forms*/
form .form-group div {
    padding-bottom: 10px;
}

.read-only .form-group div {
    padding-bottom: unset;
}

.form-horizontal .form-group {
     width: 100%;
     text-align: left;
}

.form-horizontal .control-label {
    text-align: left;
    margin-bottom: 10px;
}

.form-group >div > input {
    position: inherit;
    width: 100%;
    border: 2px solid #ccc;
}

.btnFormBottom {
    position: fixed;
    bottom: 45px;
}

.btn-full-width {
    border-radius: 0px;
    padding: 20px;
    width: 103%;
    margin: 0px;
    margin-left: -10px;
}

/*New Property profile image*/
#imageupload-container {
    border: 1px solid #a0a0a0;
    background-color: #F1F4F5;
    /*padding: 45px;*/
    border-radius: 4px;
    width: 213px;
    height: 189px;
}

#profileImage {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#upload-button {
    bottom: 0;
    position: absolute;
    right: 10px;
}

.box-border {
    padding: 15px 10px 15px 0px;
    border: 2px solid #95989A;
    height: 280px;
    width: 100%;
    margin: 0px 15px 15px 0px;
}

.settings-bordered > div {
    padding: 6px 0px;
    width: 100%;
    border: 2px solid #95989A;
    height: 100px;
    margin: 15px 0px;
    font-size: 16px;
    color: #65B8FF;
}

.settings-bordered > div > div, .settings-bordered a > div {
    float: left;
    width: 75px;
    text-align: center;
}

.settings-bordered p {
    padding: 5px 0px;
}

.settings-bordered a {
    text-decoration: none;
}

.settings-bordered div:hover {
    background-color: lightgrey;
    border-color: white;
}

.avatar > #profileImage {
    bottom: auto;
    height: 100px !important;
    width: 100px !important;
}

.box-border > #upload-button {
    left: 0;
    right: 0;
    margin: 50% auto;
    display: block;
    width: fit-content;
    border-radius: 25px;
}

/*table*/
table {
    margin-top: 10px;
}

.table-responsive thead, .table-responsive tbody, .table-responsive tfoot, .table-responsive tr, .table-responsive th, .table-responsive td {
    float: left;
    width: 100%;
}

th.header {
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center right;
    padding-right: 10px !important;
}

th.headerSortUp {
	background-image: url(../images/desc.gif);
	color: darkturquoise;
}

th.headerSortDown {
    background-image: url(../images/asc.gif);
    color: darkturquoise;
}

th.footable-sortable {
    color: dimgrey;
    letter-spacing: 0.6px;
    font-weight: 600;
    line-height: 1.428571;
}

/*blue custom checkbox*/
.checkbox {
    margin: 50px auto;
    position: relative;
    display: block;
    top: 6px;
    width: 100px;
}

.checkbox-plain {
    margin: 0;
    padding: 0;
    top:5pxs;
}

input[type="checkbox"] {
    width: auto;
    opacity: 0.00000001;
    position: absolute;
    left: 0;
    margin-left: -20px;
}
.helper {
    position: absolute;
    top: -4px;
    left: -4px;
    cursor: pointer;
    display: block;
    font-size: 16px;
    user-select: none;
    color: #e7e7e7;
}
.helper:before {
        content: '';
    position: absolute;
    left: 0;
    top: 0;
    margin: 4px;
    width: 22px;
    height: 22px;
    transition: transform 0.28s ease;
    /* border-radius: 3px; */
    /* border: 2px solid #7bbe72; */
    background-color: #65B8FF;
}
.helper:after {
  content: '';
    display: block;
    width: 16px;
    height: 8px;
    border-bottom: 2px solid white;
    border-left: 2px solid white;
    -webkit-transform: rotate(-45deg) scale(0);
    -moz-transform: rotate(-45deg) scale(0);
    -ms-transform: rotate(-45deg) scale(0);
    transform: rotate(-45deg) scale(0);
    position: absolute;
    top: 8px;
    left: 7px;
}

input[type="checkbox"]:checked ~ .helper::after {
    -webkit-transform: rotate(-45deg) scale(1);
    -moz-transform: rotate(-45deg) scale(1);
    -ms-transform: rotate(-45deg) scale(1);
    transform: rotate(-45deg) scale(1);
}

.checkbox label {
    min-height: 24px;
    padding-left: 35px;
    margin-bottom: 0;
    font-weight: normal;
    cursor: pointer;
    vertical-align: sub;
}
input[type="checkbox"]:focus + label::before {
    outline: rgb(59, 153, 252) auto 5px;
}
/*end of blue custom checkbox*/

/*transaction history*/
.star-rating {
    -moz-user-select:none;
    -webkit-user-select:none;
}

.star {
    background: url(../images/star.png) no-repeat;
    filter: grayscale(100%);
    float: left;
    height: 16px;
    margin: 0px 4px;
    width: 17px;
}

.star-rating > div.star.hover {
    filter: brightness(135%);
}

.star-rating > div.star.selected {
    filter: grayscale(0%);
}

.datepicker {
    top: 160px !important;
}

#transHistDatePicker input {
    height: 24px;
    border-radius: 4px;
}

.inner-addon {
    position: relative;
}

.right-addon img {
    right: 0px;
}

.inner-addon img {
    position: absolute;
    pointer-events: none;
    z-index: 100;
    margin: 6px;
    width: 12px;
    height: 12px;
}



/*end transaction history*/

@media screen and (min-width: 770px) {
    #openItemDropdown .orange-bubble {
        width: 400px;
    }

    .table-responsive thead, .table-responsive tbody, .table-responsive tfoot, .table-responsive tr, .table-responsive th, .table-responsive td {
          float: none;
          width: auto;
    }

    .card.hovercard, #workStatusTable.fa {
        max-width: 144px;
    }

    .modal-content > div:first-child {
        margin-top: -26px;
        margin-right: 20px;
    }

    #propertyList {
        position: absolute;
        top: 95px;
        right: 0;
        height: 100%;
    }

    #smsMessage:before {
        border-bottom-color: #4CBD8B;
        left: unset;
    }

    ul#openItemDropdown {
        right: -11px;
    }

    .quote-container {
        width: 420px;
        right: unset;
    }

    .vendorFullName {
        right: auto;
    }

    #vendorFullName {
        top: auto;
    }

    #activeJobContent {
        right: 25px;
    }

    #reviewquotes .quote-container {
        max-width: 420px;
        float: left;
        margin-right: 15px;
    }

    .settings-bordered > div  {
        height: 51px;
    }

    .box-border {
        width: 269px;
    }
}

@media (min-width: 900px) {
    .work_menu > li {
        border-right: 2px solid lightgrey;
    }

    .work_menu li:first-child {
        border-left: 2px solid lightgrey;
    }

    .work_menu:last-child li {
        border: none;
    }

    #bookModal > .modal-dialog, #cancelModal > .modal-dialog {
        margin: 3% 25%;
    }

    #bookModal > .modal-dialog, #cancelModal > .modal-dialog {
        width: 75%;
    }

    .visible-lg, .visible-md {
        display: initial !important;
    }

    #vendor-profile .card {
        max-width: 144px;
        float: left;
        margin-right: 11px;
    }

    #smsMessage {
        left: unset;
        right: 6%;
    }

    .jobRequestActive:before {
        left: 3%;
    }

    .jobRequestActive {
        margin-bottom: 0px;
    }

    .vendorResponseActive:before {
        left: 19%;
        margin-left: -18px;
    }

    .jobReqStatusActive:before {
        margin-left: -5px;
        left: 33%;
    }

    .reviewQuoteActive:before {
        left: 49%;
    }

    .transHistoryActive:before {
        left: 62% !important;
    }
}

@media (min-width: 990px) {
    #smsMessage {
        right: 10%;
    }
}


