<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/head :: head"></div>
</head>

<body>
<header>
    <div th:replace="fragments/header :: header"></div>
</header>

<div class="container-fluid col-xm-12">
    <div th:replace="fragments/filter-sidebar :: filter-sidebar"></div>
    <div class="main-body">
        <div th:replace="fragments/top-menubar :: top-menubar"></div>
        <div class="bubble col-xs-12" id="workOrderContent">
            <h2>Manage Properties</h2>
        </div>
        <div class="col-xs-12 container">
            <table class="table table-responsive" data-sorting="true">
                <thead>
                <tr>
                    <th><img th:src="@{/images/newworkorder.png}" alt="New Work Order" height="25" width="25"></th>
                    <th>Id</th>
                    <th>Street Address</th>
                    <th>Unit</th>
                    <th>City</th>
                    <th>State</th>
                    <th>Zip code</th>
                    <th>Title/Nickname</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="address : ${addresses}">
                    <td class="valign-middle"><a th:href="${'/address/edit/' + address.id}"><span class="glyphicon glyphicon-plus-sign"></span></a></td>
                    <td class="valign-middle" data-label="Id" th:text="${address.id}"><a
                            href="/addresses/${address.id}">Id</a></td>
                    <td class="valign-middle" data-label="Street" th:text="${address.streetAddress}">Street</td>
                    <td class="valign-middle" data-lable="Unit">Unit</td>
                    <td class="valign-middle" data-label="City" th:text="${address.city}">City</td>
                    <td class="valign-middle" data-label="State" th:text="${address.state}">State</td>
                    <td class="valign-middle" data-label="Zip" th:text="${address.zipCode}">Zip</td>
                    <td class="valign-middle" data-label="Contact" th:text="${address.contact}">Contact</td>
                    <!--<td class="valign-middle"><a th:href="${'/address/' + address.id}">View</a></td>-->
                    <td class="valign-middle"><a th:href="@{/transactions}">History</a></td>
                    <td class="valign-middle"><a th:href="${'/address/edit/' + address.id}">Edit</a></td>
                    <td class="valign-middle"><a th:href="${'/address/delete/' + address.id}">
                        <i class="fa fa-times-circle" aria-hidden="true"></i></a></td>
                </tr>
                </tbody>
            </table>
            <div class="row">
                <div class="form-group col-md-1">
                    <select class="form-control pagination" id="addressPageSizeSelect">
                        <option th:each="pageSize : ${pageSizes}" th:text="${pageSize}" th:value="${pageSize}"
                                th:selected="${pageSize} == ${selectedPageSize}"></option>
                    </select>
                </div>
                <div th:if="${addresses.totalPages != 1}" class="form-group col-md-11 pagination-centered">
                <ul class="pagination">
                    <li th:class="${addresses.number == 0} ? disabled">
                        <a class="pageLink" th:href="@{/addresses/(pageSize=${selectedPageSize}, page=1)}">&laquo;</a>
                    </li>
                    <li th:class="${addresses.number == 0} ? disabled">
                        <a class="pageLink"
                           th:href="@{/addresses/(pageSize=${selectedPageSize}, page=${addresses.number})}">&larr;</a>
                    </li>
                    <li th:class="${addresses.number == (page - 1)} ? 'active pointer-disabled'"
                        th:each="page : ${#numbers.sequence(pager.startPage, pager.endPage)}">
                        <a class="pageLink" th:href="@{/addresses/(pageSize=${selectedPageSize}, page=${page})}"
                           th:text="${page}"></a>
                    </li>
                    <li th:class="${addresses.number + 1 == addresses.totalPages} ? disabled">
                        <a class="pageLink"
                           th:href="@{/addresses/(pageSize=${selectedPageSize}, page=${addresses.number + 2})}">&rarr;</a>
                    </li>
                    <li th:class="${addresses.number + 1 == addresses.totalPages} ? disabled">
                        <a class="pageLink"
                           th:href="@{/addresses/(pageSize=${selectedPageSize}, page=${addresses.totalPages})}">&raquo;</a>
                    </li>
                    <li><a>History</a></li>
                    <li><a>Edit</a></li>
                    <li><a><img th:src="@{/images/deleteGRAY.png}" height="25" width="25" /></a></li>
                </ul>
            </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <a href="/address/new">
                        <button class="ui-button ui-widget ui-corner-all has-spinner">
                            <span class="spinner">
                            <i class="icon-spin icon-refresh"></i>
                        </span> Add New Property
                            <span class="glyphicon glyphicon-plus-sign"></span>
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
