<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/head :: head" >  </div>

<body>
<div th:replace="fragments/header :: header" >  </div>

<div class="container-fluid col-xm-12">
    <div th:replace="fragments/filter-sidebar :: filter-sidebar" >  </div>
    <div class="main-body">
        <div th:replace="fragments/top-menubar :: top-menubar" >  </div>
        <div class="bubble col-xs-12" id="workOrderContent">
            <h2>Job Request</h2>
        </div>
        <div class="col-xs-12 container">
            <div class="col-xs-12">
                <a href="/jobsubmission/new">
                    <button class="ui-button ui-widget ui-corner-all has-spinner">
                        <span class="spinner">
                        <i class="icon-spin icon-refresh"></i>
                    </span> Add Job Request
                        <span class="glyphicon glyphicon-plus-sign"></span>
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
