<!DOCTYPE html>
<html>
<head>
</head>
<body>
<header>
    <div th:fragment="header" id="text-shell">
        <!--class="visible-xs"> -->
        <a href="#" class="" id="menu-bar" onclick="resizeMenuBar()">
            <i class="fa fa-bars"></i>
        </a>
        <div id="fq-header-text">
            FixQuicker
        </div>
        <div id="tenant-header">
            La Jolla Vacation Rentals
        </div>
        <div id="sign-out-btn">
            <a href="/logout">Sign Out</a>
        </div>
    </div>
</header>
</body>